/* CELULARES */
@media screen and (max-width:300px){

    /* NOSOTROS */
    .como__card{
        width: 250px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 13px;
    }

}

/* TABLETAS PEQUEÑAS */

@media screen and (min-width:600px){
    
    /* FOOTER */
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.5fr 1fr 1fr;
        grid-row-gap: 15px;
        grid-template-areas: 
        "name links"
        "social links"
        "copy links";
  
        &__name{
          font-size: 3rem;
          text-align: left;
          margin-top: 30px;
          padding-left: 60px;
      }
      &__links{
          justify-content: center;
          a{
              margin: 10px;
          }
      }
      &__social{
          display: flex;
          justify-content: left;
          padding-left: 55px;
          img{
              width: 40px;
              height: 40px;
              margin: 5px;
              grid-area: social;
          }
      }
      &__copyright{
          grid-area: copy;
          text-align: left;
          padding-left: 60px;
      }
      }

    /* NOSOTROS */
    .descripcion__titulo{
        font-size: 40px;
    }  
    .como__titulo{
        font-size: 40px;
    }
}


@media screen and (min-width:768px){

    /* NOSOTROS */
    .nosotros{
        flex-direction: row;
    }


    .slogan{
        &__display{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Bebas";
        font-size: 3rem;
        width: 20px;
        }
        &__box{
            background: rgb(77,82,96);
            background: linear-gradient(59deg, rgba(77,82,96,1) 0%, rgba(149,144,143,1) 13%, rgba(171,151,147,1) 36%, rgba(221,200,196,1) 55%, rgba(223,223,223,1) 99%);
        }
    }

.slogan{
    &__font{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 300px;
    }
    &__font{
    background:
    linear-gradient(
    to right,
        rgb(90, 94, 94),
        rgb(127, 127, 127)
      ),
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    }
     &__font:hover {
    background-size: 0 3px, 100% 3px;
    }
}
  .highlight{
    box-shadow: inset 0 0 0 0 rgb(238, 238, 23);
    padding-left: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    &:hover{
        box-shadow: inset 200px 0 0 0 rgb(238, 238, 23);;
    }  
  }


  #navbar__link{
      margin-left: 40px;
      color: #080808;
  }

  
}


/* DESKTOP */
@media screen and (min-width:1200px){

    /* NOSOTROS */
    .descripcion__texto{
        font-size: 15px;
    }
}
