.card{
    &__box{
        display: flex;
        justify-content: space-evenly;
    }
    &__unit{
        margin-top: 10px;
        text-align: center;
        width: 290px;

    }
    &__text{
        font-family: "Montserrat";
    }
    &__boton{
        box-decoration-break: none;
        background-color: rgb(69, 69, 69);
        font-family: "Mukta";
        border: 0cm;
        
    }

}


